#div2{
    width: 335px;
    height: 480px;
    border: 0px solid #808080;
    float: left;
    margin-left: 40px;
    box-shadow: 10px 10px 10px #808080;
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-right: 40px;
    margin: 60px 40px 40px 40px;
    border-radius: 5px;
    text-align: start;
    font-size: 18px;
    padding-left: 0;
    
    
}

button{
    width: 230px;
    height: 40px;
    background-color: #E5ECFF;
    border-color: #E5ECFF;
    color: #0d3cc7;
    border-bottom: #E5ECFF;
    border-right: #E5ECFF;
    border-radius: 2px;
    margin-top: 5px;
    font-size: large;
}

#h3{
    padding-left: 10px;
}

#p1{
    padding-left: 10px;
}

#div1{
    margin: 50px 120px 80px 60px;
    padding-left: 20px;
    height: 600px;
    width: 1300px;
    background-color: #F2F2F2;
    place-content: center;
    border-radius: 2px;
    box-shadow:10px 20px 10px #808080;  
}